[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckduckgo-search = "*"
ollama = "*"
chromadb = "*"
pydantic = "*"
pydantic-settings = "*"
rich = "*"
typer = "*"
aiohttp = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
sqlalchemy = "*"
agent = {file = ".", editable = true}
ddgs = "*"

[dev-packages]

[requires]
python_version = "3.12"
